#Customcards{
    background-color: #1b1b1b;
    border: none;
    box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.2), 4px 8px 30px 10px rgba(63, 60, 65, 0.19) !important;
    margin-top: 50px;
    /* height: 420px; */
}