.chatBoxTop {
    height: 90%;
    overflow-y: scroll;
    padding-right: 10px;
    border: none !important;
  }
  
  .chatBoxBottom {
    margin-top: 15px;
    position: sticky;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 110%; */
  }
  .chatSubmitButton{
    background: none !important;
  }
  .sendIcon{
    color: rgb(134, 30, 155);
    font-size: 40px !important;
  }
  .chatMessageInput {
    width: 85%;
    font-size: 18px;
    height: 70px;
    margin-left: 2px;
    padding: 10px;
    border: none;
  }
  .chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
margin-left: 6px;
    /* margin-right:8rem; */
    cursor: pointer;
    background-color: teal;
    color: white;
  }