.land-cointainer {
  /* width: 100%;
  height: 100%; */
  background-color: #10141a;
}

.content-section {
  /* width: 100%;
  height: 100%; */
  position: absolute;
  float: left;
  /* background-color: #eb3fa9; */
  display: flex;
  margin-left: -100px;
}

.left-content {
  width: 30%;
  float: left;
  margin-top: 2rem;
  margin-left: 2rem;
}

.pcText {
  display: inline-block;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.belowText {
  padding: 1.8rem 0;
  color: white;
  font-size: 45px;
}
.TextPC {
  color: #d5b1f8;
  display: inline-block;
  margin-left: 8px;
}
.right-content {
  width: 60%;
}
.bchain-img {
  position: absolute;
  right: 13%;
  top: 4%;
  width: 37%;
  height: 65%;
}

.btnStart {
  width: 35% !important;
  height: 15% !important;
  font-size: 27px !important;
  margin-top: 20px;
  color: #ebdbfd;
  border-radius: 15px !important;
  background-color: #8a15fc !important;
  transition: all 0.4s ease-in-out !important;
  border: none !important;
}

.btnStart:hover {
  background-color: #7110d1 !important;
  color: #ebdbfd;
}

.trendContainer {
  margin-top: 1rem;
  /* width: 100%;
  height: 1000px; */
  background-color: white;
  text-align: center;
}
.carousel-container {
  margin-top: 0rem;
  /* width: 100%;
  height: 900px; */
  background-color: white;
  text-align: center;
}
.textTrend {
  font-size: 40px;
  margin-left: 15px;
  margin-top: 15px;
  font-weight: 500;
  color: rgb(36, 34, 34) !important;
}

.trendHeading {
  margin-top: 1rem;
  /* background: linear-gradient(120deg, rgb(132, 111, 244), rgb(241, 118, 116)); */
  /* background-clip: text; */
  display: inline-block;
  margin-left: -1100px;
  border-left: 8px solid #8a29e4;
  border-radius: 6px;
  /* -webkit-text-fill-color: transparent; */
  /* -webkit-background-clip: text; */
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  letter-spacing: 0.2rem;
}

.cards {
  margin-top: 4rem;
  margin-left: -520px;
  width: 99.7%;
  height: 650px;
  /* background-color: #dfd3eb; */
}

.product-container {
  margin-top: 1rem;
  /* width: 99.7%;
  height: 650px; */
  color: aliceblue;
}

.features-icon {
  font-size: 40px;
}

.features-desc h5 {
  font-size: 20px;
  color: #000;
}

.features-more i {
  position: relative;
  top: 1px;
}

.features-more {
  color: #6362b8 !important;
}
#features{
  background-color: white;
  margin-top: 150px;
}
.boldfont{
  font-weight: bold;
  font-size: 25px;
}
.pt-2{
  font-size: 20px;
}
.section-title{
  font-size: 40px;
  font-weight: bold;
  color: #792eaa;

  text-align: center;
  width: 100%;
}
.section-subtitle{
  font-size: 30px;
  font-weight: bold;
  color: #792eaa;
  text-align: center;
  width: 100%;
}

.plan-price h2 {
  font-size: 50px;
  font-weight: 700;
}

.plan-name h6 {
  font-size: 22px;
}

.plan-lable p {
  font-weight: 700;
}
.price-box{
  /* background-color: #2e2e2e !important; */
  color: white !important;
}
#pricing{
  background-color: #ebebeb !important;
  /* background-image: url("bgp.jpeg"); */
}

#pricing{
  background-color: white !important;

}